<div class="row" style="padding-top:10%;">
	<div class="col"></div>
	<div class = "col-md-7">
<h1>Create a New Article!</h1>

<%= render "form" %>


</div><!--close div of col-md-7 -->
<div class="col"></div>
</div><!-- close div tag for row -->
